:root {
  --input-bg: #c7c8cc;
  --input-bg-focus: #a6a6ac;
  --input-border-color: #e6b325;
  --input-color: #313131;

  --btn-device-bg: #f0ebce;
  --btn-device-bg-hover: #4e6c50;
}

.form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
}

.form > p {
  padding: 10px 0;
}

.form > p > label {
  color: var(--text-color);
  font-weight: 600;
  font-size: var(--main-font-size);
  display: flex;
}

.form > p > input,
.form > p > textarea {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--input-bg);
  border: 3px solid var(--input-border-color);
  border-radius: 10px;
  font-size: var(--main-font-size);
  outline: none;
  color: var(--input-color);
}

.form > p > textarea {
  resize: none;
  height: 200px;
}

.form > p > textarea::-webkit-scrollbar {
  width: 10px;
}

.form > button,
.form > input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--btn-device-bg-hover);
  background-color: var(--btn-device-bg);
  transition: var(--btn-transition);
  font-weight: 800;
  font-size: var(--main-font-size);
}

.service-order-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.service-order-device > select,
.status-form > select {
  padding: 8px;
  min-width: 250px;
  font-size: var(--main-font-size);
  border-radius: 10px;
}

.service-order-service-center > label,
.service-order-service label {
  font-size: var(--main-font-size);
  color: var(--text-color);
  padding: 3px;
}

.service-order-service > ul > li {
  padding: 3px;
}

.status-form {
  margin-top: 30px;
}

.status-form > * {
  margin: 5px;
  padding: 8px;
}

.form-register {
  max-width: 500px;
  font-size: var(--main-font-size);
  color: var(--text-color);
}

.form-register > ul > li {
  list-style-type: circle;
  list-style-position: inside;
}

@media only screen and (min-width: 768px) {
  .form > button:hover,
  .form > button:focus,
  .form > input[type="submit"]:hover,
  .form > input[type="submit"]:focus {
    background-color: var(--btn-device-bg-hover);
    box-shadow: 0 0 8px var(--btn-device-bg-hover);
  }

  .form > p > input:focus {
    background-color: var(--input-bg-focus);
  }
}
