:root {
  --nav-link-color: #eeeeee;

  --btn-login-bg: #c7c8cc;
  --btn-signup-bg: #e36414;
  --btn-logout-bg: #ff6868;
}

header {
  background-color: var(--header-bg);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  min-height: 50px;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 800;
  color: var(--nav-link-color);
  transition: var(--btn-transition);
}

.logo-img {
  width: 32px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: var(--main-font-size);
  color: var(--nav-link-color);
}

.nav-item > span > a {
  color: #f1e4c3;
  font-weight: 700;
  transition: all 0.2s ease;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  background-color: var(--nav-link-color);
}

.nav-link {
  font-size: var(--main-font-size);
  font-weight: 500;
  padding: 10px;
  color: var(--nav-link-color);
  transition: color 0.2s ease-in;
}

.auth-panel {
  display: flex;
  gap: 10px;
}

.auth-btn {
  padding: 4px 20px;
  background: red;
  font-size: var(--main-font-size);
  font-weight: 600;
  color: var(--text-color);
  border-radius: 7px;
  border: none;
}

.btn-login {
  background-color: var(--btn-login-bg);
  color: #222;
}

.btn-signup {
  background-color: var(--btn-signup-bg);
}

.btn-logout {
  background-color: var(--btn-logout-bg);
}

@media only screen and (min-width: 768px) {
  .logo-link:hover,
  .logo-link:focus {
    color: #f3ca52;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #f3ca52;
  }

  .nav-item > span > a:hover,
  .nav-item > span > a:focus {
    color: #c6a969;
  }
}

@media only screen and (max-width: 1250px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: -100%;
    flex-direction: column;
    background-color: var(--header-bg);
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    gap: 0;
  }

  .nav-menu.active {
    left: 0;
    top: 50px;
    padding-bottom: 20px;
  }

  .nav-item {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
