:root {
  --btn-bg-order: #f3efe0;
  --btn-bg-order-hover: #22a39f;
  --btn-color: #222222;

  --btn-bg-add: #c7c8cc;
  --btn-bg-add-hover: #f6d776;

  --btn-bg-control: #ffffff;
  --btn-bg-control-edit-hover: #7d9d9c;
  --btn-bg-control-remove-hover: #a25b5b;

  --color-service-link: #f7f1e5;
  --color-hover-service-link: #c6a969;
}

.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-page-element {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-page-element > ul {
  margin-top: 30px;
}

.make-order > .btn {
  padding: 20px 40px;
  background-color: var(--btn-bg-order);
  border: 3px solid var(--btn-bg-order-hover);
  border-radius: 10px;
  font-size: var(--main-font-size);
  font-weight: 900;
  color: var(--btn-color);
  transition: var(--btn-transition);
}

.service-list {
  min-width: 300px;
}

.service-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px 0;
}

.service-name {
  color: var(--color-service-link);
  font-size: var(--main-font-size);
  transition: var(--btn-transition);
  font-weight: 600;
}

.service-price {
  color: #ecf2ff;
  font-weight: 900;
}

.btn-add {
  padding: 10px 40px;
  background-color: var(--btn-bg-add);
  font-size: var(--main-font-size);
  border: 2px solid var(--btn-bg-add-hover);
  color: var(--btn-color);
  font-weight: 600;
  border-radius: 10px;
  transition: var(--btn-transition);
}

.service-center-list-item {
  padding: 10px;
}

.service-center-list-item-text {
  color: var(--color-service-link);
  font-size: var(--main-font-size);
}

.btn-control-panel {
  background-color: var(--btn-bg-control);
  color: var(--btn-color);
  transition: var(--btn-transition);
  font-weight: 500;
}

.btn-edit-control-panel {
  border-color: var(--btn-bg-control-edit-hover);
}

.btn-delete-control-panel {
  border-color: var(--btn-bg-control-remove-hover);
}

.service-detai {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-info {
  width: 100%;
}

.service-info-name,
.service-info-description,
.service-info-price {
  text-align: center;
  color: var(--color-service-link);
  font-size: var(--main-font-size);
  padding: 10px;
}

.service-info-name {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1.2px;
}

.service-info-description {
  overflow-wrap: break-word;
  word-break: break-all;
}

.service-info-price {
  font-size: 20px;
  font-weight: 600;
}

.delete-element {
  color: var(--text-color);
}

.order-item {
  padding: 5px;
}

.order-link {
  color: var(--text-color);
  transition: var(--btn-transition);
  font-size: var(--main-font-size);
}

.order-detail-text {
  color: var(--text-color);
  font-size: var(--main-font-size);
  padding: 3px;
}

.create-account {
  text-align: center;
  margin-top: 20px;
  font-size: var(--main-font-size);
  color: var(--text-color);
}

.create-account > * {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .make-order > .btn:hover,
  .make-order > .btn:focus {
    background-color: var(--btn-bg-order-hover);
    box-shadow: 0 0 10px var(--btn-bg-order-hover);
  }

  .btn-add:hover,
  .btn-add:focus {
    background-color: var(--btn-bg-add-hover);
    box-shadow: 0 0 10px var(--btn-bg-add-hover);
  }

  .service-name:hover,
  .service-name:focus {
    color: var(--color-hover-service-link);
  }

  .btn-edit-control-panel:hover,
  .btn-edit-control-panel:focus {
    background-color: var(--btn-bg-control-edit-hover);
    box-shadow: 0 0 5px var(--btn-bg-control-edit-hover);
  }

  .btn-delete-control-panel:hover,
  .btn-delete-control-panel:focus {
    background-color: var(--btn-bg-control-remove-hover);
    box-shadow: 0 0 5px var(--btn-bg-control-remove-hover);
  }

  .order-link:hover,
  .order-link:focus {
    color: var(--color-hover-service-link);
  }
}
