.profile-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: var(--text-color);
  font-size: var(--main-font-size);
}

.user-device-list-item {
  padding: 10px;
}

.user-device-list-item > p {
  text-align: center;
}

.user-device-brand-and-model {
  font-weight: 800;
}

.btn-add-device {
  margin-top: 20px;
}

.repair-order-list-item {
  padding: 8px;
}

.repair-order-list-item > p > span {
  font-weight: 700;
}

.update-profile {
  margin-top: 20px;
}
