{% extends 'base_authentication.html' %}
<!--  -->
{% block title %}Login to account{% endblock %}
<!--  -->
{% block content %}

<div class="auth-page login-page">
  <form method="post" class="form form-login">
    {% csrf_token %}
    <!--  -->
    {{ form.as_p }}
    <input type="submit" value="Login" />
  </form>

  <div class="create-account">
    <p>Don`t have an account?</p>
    <a class="auth-btn btn-signup" href="{% url 'auth:signup' %}">
      Create account
    </a>
  </div>
</div>
{% endblock %}
