{% extends "base_authentication.html" %}
<!--  -->
{% block title %}Create an Account{% endblock %}
<!--  -->
{% block content %}
<div class="auth-page register-page">
  <form method="POST" class="form form-register">
    {% csrf_token %}
    <!--  -->
    {{ form.as_p }}
    <input type="submit" value="Register" />
  </form>

  <div class="create-account">
    <p>Have an account?</p>
    <a class="auth-btn btn-login" href="{% url 'auth:login' %}">
      Login instead
    </a>
  </div>
</div>

{% endblock %}
