{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!---->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'image/favicon.png' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header class="header">
      {% block header %}
      <div>
        <a class="logo-link" href="{% url 'repair:home_page' %}">
          <img
            class="logo-img"
            src="{% static 'image/favicon.png' %}"
            alt="repair"
          />
          Repair service
        </a>
      </div>
      <nav class="navbar">
        <ul class="nav-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repair:home_page' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repair:add_device' %}">
              Add device
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repair:order_service' %}">
              Order service
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repair:profile' %}">Profile</a>
          </li>
          {% if user.is_authenticated and user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repair:orders_page' %}">Orders</a>
          </li>
          {% endif %}
          <div class="auth-panel">
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'auth:logout' %}">
              {% csrf_token %}
              <li class="nav-item">
                <span>
                  You logged by
                  <a href="{% url 'repair:profile' %}">{{ user.username }}</a>
                </span>

                <button type="submit" class="auth-btn btn-logout">
                  Logout
                </button>
                {% if user.is_staff %}
                <button class="btn-admin">
                  <a href="/admin">Admin panel</a>
                </button>
                {% endif %}
              </li>
              <!---->
              {% else %}
              <li class="nav-item">
                <a class="auth-btn btn-login" href="{% url 'auth:login' %}">
                  Log in
                </a>
              </li>
              <li class="nav-item">
                <a class="auth-btn btn-signup" href="{% url 'auth:signup' %}">
                  Sign up
                </a>
              </li>
              <!-- -->
              {% endif %}
            </form>
          </div>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>

      {% endblock %}
    </header>
    <!--  -->
    <main>{% block content %} {% endblock %}</main>
    <!--  -->
    <footer>{% block footer %} {% endblock %}</footer>
    <script>
      const hamburger = document.querySelector(".hamburger");
      const navMenu = document.querySelector(".nav-menu");

      hamburger.addEventListener("click", mobileMenu);

      function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
      }

      const navLink = document.querySelectorAll(".nav-link");

      navLink.forEach((n) => n.addEventListener("click", closeMenu));

      function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
      }
    </script>
  </body>
</html>
