{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="shortcut icon"
      href="{% static 'image/favicon.png' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      {% block header %}
      <div></div>
      <nav>
        <li>
          <a class="nav_link" href="{% url 'repair:home_page' %}">Home</a>
        </li>
        <li>
          <a class="nav_link" href="{% url 'repair:add_device' %}"
            >Add device</a
          >
        </li>
        <li>
          <a class="nav_link" href="{% url 'repair:order_service' %}"
            >Order service</a
          >
        </li>
        <li>
          <a class="nav_link" href="{% url 'repair:profile' %}">Profile</a>
        </li>
        {% if user.is_authenticated and user.is_staff %}
        <li>
          <a class="nav_link" href="{% url 'repair:orders_page' %}">Orders</a>
        </li>
        {% endif %}
      </nav>
      <div class="auth_panel">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'auth:logout' %}">
          {% csrf_token %}
          <li>
            <span>
              You logged by
              <a href="{% url 'repair:profile' %}">{{ user.username }}</a>
            </span>

            <button type="submit" class="auth_btn btn_logout">Logout</button>
            <button class="btn_admin">
              <a href="/admin">Admin panel</a>
            </button>
          </li>
          {% if user.is_staff %}
          <li></li>
          {% endif %}
          <!---->
          {% else %}
          <li>
            <button class="auth_btn btn_login">
              <a href="{% url 'auth:login' %}">Log in</a>
            </button>
          </li>
          <li>
            <button class="auth_btn btn_signup">
              <a href="{% url 'auth:signup' %}">Sign up</a>
            </button>
          </li>
          <!-- -->
          {% endif %}
        </form>
      </div>
      {% endblock %}
    </header>
    <!--  -->
    <main>{% block content %} {% endblock %}</main>
    <!--  -->
    <footer>{% block footer %} {% endblock %}</footer>
  </body>
</html>
