{% extends "base.html" %}
<!---->
{% block title %}Profile Page | {{ user.first_name }}{% endblock title %}
<!---->
{% block content %}
<div class="profile">
  <div class="profile-element user-info">
    <h1 class="title">
      User profile | {{ user.first_name }} {{ user.last_name }}
    </h1>
    <div>
      <p class="user-info-username">Username: {{ user.username }}</p>
      <p class="user-info-firstname">First name: {{ user.first_name }}</p>
      <p class="user-info-lastname">Last name: {{ user.last_name }}</p>
    </div>
    <a class="btn-add update-profile" href="{% url 'repair:update_profile' %}">
      Update name
    </a>
  </div>
  <div class="profile-element">
    <h1 class="title">Device list</h1>
    {% if devices %}
    <ul class="user-device-list">
      {% for device in devices %}
      <li class="user-device-list-item">
        <p class="user-device-brand-and-model">
          {{ device.brand }} {{ device.model }}
        </p>
        <p class="user-device-info">CPU: {{ device.cpu }}</p>
        <p class="user-device-info">GPU: {{ device.gpu }}</p>
        <p class="user-device-info">RAM: {{ device.ram }}</p>
        <div class="control-panel device-control-panel">
          <a
            class="btn-control-panel btn-delete-control-panel"
            href="{% url 'repair:delete_device' device.id %}"
          >
            Delete device
          </a>
          <a
            class="btn-control-panel btn-edit-control-panel"
            href="{% url 'repair:edit_device' device.id %}"
          >
            Edit device
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Your history is empty</p>
    {% endif %}
    <a class="btn-add btn-add-device" href="{% url 'repair:add_device' %}">
      Add device
    </a>
  </div>
  <div class="profile-element">
    <h1 class="title">Repair Orders</h1>
    {% if repair_orders %}
    <ul class="repair-order-list">
      {% for order in repair_orders %}
      <li class="repair-order-list-item">
        <p>Device: <span>{{ order.device }}</span></p>
        <p>Service center: <span>{{ order.service_center }}</span></p>
        <p>Status: <span>{{ order.status }}</span></p>
        <p>
          Services: {% for service in order.services.all %}
          <!---->
          <span>{{ service.name }}{% if not forloop.last %},</span>
          <!---->
          {% endif %}
          <!---->
          {% endfor %}
        </p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No repair orders yet</p>
    <button>
      <a href="{% url 'repair:order_service' %}">Submit a repair request</a>
    </button>
    {% endif %}
  </div>
</div>
{% endblock content %}
